@CHARSET "UTF-8";
  
html,body,div,span,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,address,big,cite,code,del,em,font,img,ins,small,strong,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend
	{
	margin: 0;
	padding: 0;
}

textarea{ resize:none;}
input,textarea{ outline:0;}
select{ _font-size:12px;}
html,body{overflow:hidden;}
a{
	text-decoration : none ;
}
ol,ul {
	list-style: none;
}

.esmain {
	width: 96%;
	
	margin-left:2%;
	
}

.esmain .eshead {
	width: 100%;
	height: 50px;
	line-height: 50px;
	border-bottom: 1px solid #ccc;
	
}
.esmain .esleft {
	background: #fff;
	width:220px;
	float:left;
	overflow: auto;
	/* border-left: 1px solid #ccc; */
	background-color:#133959;
	margin-right:10px;
	border-radius: 5px;
	padding-top:12px;
}

.sendPage{width:100%;}

.contbox{ width:564px; height:30px; float:left; margin-left:5px; _display:inline;}
.contbox input{ height:20px; padding:0; border:1px solid #ccc;}
.contbox input:hover{border:1px solid #5599ff; }

.w14090{ font-size:13px; color:#555; float:left; margin-right:10px; display:block;}
.hei30{ line-height:30px;}
.w140{ width:130px; padding-left:2px;}
.w90{ width:70px;}
.hei20{ height:20px; line-height:20px; margin-top:4px; border:1px solid #aaa;}

.newfilter,.delfilter{margin-left:17px;margin-right:20px; width:22px;height:22px; line-height:22px; text-indent:22px; color:#555; float:left; margin-top:3px;cursor:pointer;}
.newfilter{ background:url(../../public/img/add.png) no-repeat 4px 4px;}
.delfilter{ background:url(../../public/img/del.gif) no-repeat 4px 4px;}
.newfilter:hover,.delfilter:hover{ width:22px; line-height:22px; text-indent:22px;}

.linkFile{width:800px; height: 400px;}
.linkFile .linkLeft{float:left;width:25%;height:100%; overflow: auto;}
.linkFile .linkRight{float:left; width:75%; height:360px;}

.part_left{float:left;width:310px;height:50px;line-height:50px; text-align: center;margin-top: 0px;}
.part_left .sp1{float:left; height:100%; width:100px; background-color: #6699FF;}
.part_left .sp2{float:left; height:2px; width:80px; background-color: #6699FF; margin-top:24px;}
.confirmPart{float:left; height:40px; width:200px; background-color: #6699FF; padding:0px 10px 0 10px;}
.delPart{margin-left: 20px;cursor:pointer;}

.receiveUser{height:250px;width:480px;background:#fff;border:1px solid #aaa;display:none;z-index:888;position:absolute;overflow:auto;}
.showbtn{display: inline-block;cursor:pointer; width:16px; height:16px; background:url(../../public/img/show.png) no-repeat;}
